.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-top: 2.5rem;
    .head{
        .heading{
            font-weight: 800;
            color: #454545;
            text-align: center;
            font-size: 1.8rem;
            padding: 0.5rem 0rem;
        }
    }
    .form{
        width: 70%;
    }
    .field{
        display: flex;
        padding: 0.8rem;
        border: 1px solid #B8B8B8;
        border-radius: 6px;
        margin-top: 2rem;
        input{
            border: none;
            padding-left: 1rem;
            color: #666;
            font-size: 1rem;
            font-weight: 400;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        .eyeopen{
            &:hover{
                cursor: pointer;
            }
        }
    }
    .loginbtn{
        border-radius: 3rem;
        background: #6C74CA;
        padding: 1rem 4rem;
        border: none;
        color: white;
        margin-top: 2rem;
        font-weight: 600;
        &:hover{
            cursor: pointer;
            background-color: #4e55a5;
        }
    }
}
.invalid{
    font-size: 1rem;
    color: red;
    margin-bottom: -1rem;
}